<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" color="light"></ion-back-button>
    <ion-title color="light">
      Doggi Walks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-avatar>
          <img [src]="dog.image" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>{{ dog.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4><b>Breed:</b> {{ dog.breed }}</h4>
        <h4><b>DOB:</b> {{ dog.dob | date }}</h4>
        <h4><b>Age:</b> {{ dog.age }}</h4>
        <h4><b>Favourite Food:</b> {{ dog.favFood }}</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <h4><b>Notes:</b></h4>
          <ion-textarea autoGrow="true" [(ngModel)]="dog.notes" (ionChange)="notesChange()"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
