<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="walklist">
      <ion-icon name="walk-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="viewdog">
      <ion-icon name="paw-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="viewuser">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>