ion-tab-button.home-button {
    position: absolute;
    border: solid 2px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: calc(var(--ion-safe-area-bottom) + 10px);
}

// as mentioned about
ion-tabs { contain: none; }
ion-tab-bar { contain: none }

// for the overflow
ion-tab-button::part(native){
   overflow: visible;
}