<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="light">
      Doggi Walks
    </ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="addDog()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngIf="!listOfDogs" >
      <ion-col >
        <ion-item lines="none" class="ion-text-center">
          <h4>You haven't added any dogs yet. Add them above.</h4>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="listOfDogs">
      <ion-col>
        <ion-list>
          <ng-container *ngFor="let dog of listOfDogs; let i = index">
          <ion-item-sliding>
              <ion-item (click)="dogInfo(dog)">
                <ion-avatar slot="start">
                  <img [src]="dog.image" />
                </ion-avatar>
                <ion-label>
                  <h1>{{ dog.name }}</h1>
                  <h4>Breed: {{ dog.breed }}</h4>
                  <h4>Age: {{ dog.age }} old</h4>
                </ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option (click)="deleteDog(dog, i)" color="danger">
                  <ion-icon slot="icon-only" icon="trash"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="editDog(dog, i)" color="secondary">
                  <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>