<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      <img src="../../../assets/Logo.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ng-container *ngIf="!userInfo">
      <ion-row>
        <ion-col>
          <ion-item lines="none" class="ion-text-center">
            <h4>You currently aren't logged in to an account. Log in or sign up below!</h4>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="userInfo">
      <ion-row >
        <ion-col>
          <ion-item lines="none">
            <ion-text>
              <h4><b>Name:</b> {{ userInfo.forename }} {{ userInfo.surname }}</h4>
              <h4><b>E-mail:</b> {{ userInfo.email }}</h4>
              <h4><b>Number of dogs:</b> {{ numOfDogs }}</h4>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="logout()">Log out</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>