<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="light">
      Doggi Walks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map id="map"></div>

  <ion-item lines="none" class="ion-text-center">
    <p>You haven't recorded any walks yet.</p>
  </ion-item>

  <ion-list *ngIf="previousTracks">
    <ion-list-header>Previous Walks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      <ion-label>
        <h1>{{ route.finished | date }}, {{ route.length }} </h1>
        <ion-button ion-button clear item-end (click)="showHistoryRoute(route.path)">View Route</ion-button>
        <ion-button ion-button clear item-end (click)="viewNotes(route)">View All Notes</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>